<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products_list_view</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
</head>
<body>
    <table>
        
            <tr>
                <th>FirstName</th>
                <th>Lastname</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.firstName}}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.phoneNumber}}</td>
                <td>{{ customer.email}}</td>
                <td>{{customer.address}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>