<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products_list_view</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
</head>
<body>
    <table>
        
            <tr>
                <th>Amount</th>
                <th>Payment Option</th>
                <th>Receipt</th>
                <th>Status</th>
            </tr>
        
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.amount}}</td>
                <td>{{ payment.payment_option}}</td>
                <td>{{ payment.receipt}}</td>
                <td>{{ payment.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>